* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #1f2933;
  background-color: #ffffff;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.hero {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: #fff;
  padding: 90px 0;
  text-align: center;
  display: flex;
  width: 100%;
  
}

.hero h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.image-hero img{
  width: 100%;
  object-fit: cover;
  max-width: 400%;
}
.section{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.container-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.section div img{
  max-width: 400px;
}
.section-container{
  width: 100%;
  margin: auto;
  max-width: 80%;
  display: flex;
}
.container-cidades{
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.container-cidades li{
  background-color: #2563eb;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.funcionalidades{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.funcionalidades .cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);

}
.gray{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 50%;
}
.about div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.about div img{
  max-width: 300px;
  border-radius: 50%;
  border: 5px solid #040B19;
}

.btn {
  background: #22c55e;
  color: #fff;
  padding: 15px 35px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #16a34a;
}

.section {
  padding: 70px 0;
  text-align: center;
}

.section.gray {
  background-color: #f3f4f6;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.06);
}

.card h3 {
  margin-bottom: 10px;
}

.steps {
  max-width: 520px;
  margin: 30px auto 0;
  text-align: left;
}

.steps li {
  margin-bottom: 15px;
}

.footer{
  margin: auto;
  background: #1e293b;
  color: #fff;
  padding: 70px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  
}

.div{
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.copy {
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.7;
}


@media screen  and (max-width:468px){
  .container {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

}
.container h1{
 font-size: 1.5rem;
}
.section-container{
  flex-direction: column;
  width: 100%;
}
.section-container{
  width: 100%;
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.container-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px;
}
.container-section h2{
  font-size: 1.5rem;
}
.card{
  width: 100%;
}
.list{
  grid-template-columns: repeat(1, 1fr);
}
.funcionalidades h2{
  font-size: 1.5rem;
}

.funcionalidades .cards{
  display: grid;
  grid-template-columns: repeat(1,1fr);

}
.card h3{
  font-size: 1.2rem;
}
.container-instagram h2{
  font-size: 1.4rem;
}
.container div h2{
font-size: 1.5rem;
}
.about{
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.about p{
  width: 100%;

}

.mobile div img{
  max-width: 100%;
}
}
